footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .map {
    position: absolute;
    bottom: 10px;
    left: 30px;
    width: 224px;
    height: 139px;

    &-map {
      height: 100%;
      @include background-image('https://github.com/IreneLee18/f2e4th-week1/blob/master/src/style/resource/main/map.svg?raw=true', cover)
    }

    &-now {
      position: absolute;
      width: 30px;
      height: 30px;
      top: 44px;
      @include background-image('https://github.com/IreneLee18/f2e4th-week1/blob/master/src/style/resource/main/map_now.gif?raw=true', 100%)
    }

    &-finish {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      @include background-image('https://github.com/IreneLee18/f2e4th-week1/blob/master/src/style/resource/main/map_finish.svg?raw=true', cover)
    }
  }

  .join {
    position: absolute;
    right: 10px;
    bottom: 0;

    &-text {
      position: absolute;
      top: -70px;
      left: 8px;
      font-weight: bold;
    }

    &-hand {
      width: 40px;
      height: 40px;
      position: absolute;
      top: -45px;
      left: 14px;
      @include background-image('https://github.com/IreneLee18/f2e4th-week1/blob/master/src/style/resource/btn/btn_joinHand.png?raw=true', 80%);
      animation: join-hand .3s infinite;
    }

    &-us {
      width: 60px;
      height: 60px;
      @include icon-btn('https://github.com/IreneLee18/f2e4th-week1/blob/master/src/style/resource/btn/btn_join.png?raw=true', 'https://github.com/IreneLee18/f2e4th-week1/blob/master/src/style/resource/btn/btn_join_h.png?raw=true', 100%);
    }
  }
}